.delete-room-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-list {
  display: grid;
  grid-template: "a a a";
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  padding-block: 1vh;
  list-style: none;
  max-height: 98vh;
  min-height: 689px;
  min-width: 80%;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .delete-list {
    grid-template: "a a";
  }
}

@media screen and (max-width: 600px) {
  .delete-list {
    grid-template: "a";
  }
}

.delete-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 220px;
  padding: 10px;
  max-width: 90%;
  width: 88%;
  border: 1px solid #70707030;
  border-radius: 10px;
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #8fda1f;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #777;
}

.delete-btn:hover {
  cursor: pointer;
}
