.homepage {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 3%;
  margin-top: 2%;
}

.room-container {
  display: flex;
  width: 60vw; /* Make sure the container takes full width */
  flex-wrap: nowrap; /* Prevent items from wrapping */
  overflow: hidden; /* Hide the overflowing rooms */
  transition: transform 0.5s ease; /* For smooth sliding effect */
}

.select {
  display: flex;
  flex-direction: column;
  margin-top: 14%;
  align-items: center;
}

.room-control2 button {
  height: 50px;
  margin-top: 20vh;
  font-weight: bold;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: greenyellow;
  border-color: greenyellow;
  color: white !important;
}

.room-control1 button {
  height: 50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 20vh;
  font-weight: bold;
  background: greenyellow;
  border-color: greenyellow;
  color: white !important;
}

.room-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  width: 300px; /* Set the width of each room item */
  margin-right: 16px;
  transition: transform 0.5s ease; /* For smooth sliding effect */

  /* margin: 20vh; */
}

.room-item img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

@media (max-width: 600px) {
  .room-item {
    margin-right: 0; /* Remove margin for single room on smaller screens */
  }

  .room-control1,
  .room-control2 {
    display: none;
  }

  .room-container {
    flex-direction: column;
    width: 100vw;
    align-items: center;
  }
}
