.nav {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 2rem 2rem 0 2rem;
}

.logo {
  align-self: center;
}

.links {
  padding-top: 10rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.links > li {
  padding: 1.19rem;
  white-space: nowrap;
}

.social {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.active {
  font-weight: bold;
  background: greenyellow;
  color: white !important;
  width: 100%;
}

.link {
  text-decoration: none;
  color: black;
}

.mobile {
  display: none;
  z-index: 10;
}

.ham-menu {
  background: none;
  border: none;
}

@media (max-width: 600px) {
  .nav {
    position: absolute;
    background-color: white;
    opacity: 0.8;
  }

  .mobile {
    position: fixed;
    top: 2rem;
    left: 2rem;
    display: inline;
  }

  .open {
    display: none;
  }

  .ham-menu {
    float: right;
  }

  .close-btn {
    position: absolute;
    top: 0;
    left: 8rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: auto;
  }
}
