.nav {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 2rem 2rem 0 2rem;
}

.logo h1 {
  font-size: 1.5rem;
  padding-top: 2rem;
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, greenyellow, red 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  padding-top: 2rem;
  position: relative;
}

.content h2 {
  position: absolute;
  font-weight: 800;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #0000002b;
}

.content h2:nth-child(2) {
  color: rgb(220, 130, 27);
  animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path:
      polygon(
        0% 45%,
        15% 44%,
        32% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
  }

  50% {
    clip-path:
      polygon(
        0 60%,
        16% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 40%,
        100% 100%,
        0% 100%
      );
  }
}

.links {
  padding-top: 10rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.links > li {
  padding: 1.19rem;
  white-space: nowrap;
}

.social {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}

.active {
  font-weight: bold;
  background: greenyellow;
  color: white !important;
  width: 100%;
}

.link {
  text-decoration: none;
  color: black;
}

.mobile {
  display: none;
  z-index: 10;
}

.ham-menu {
  background: none;
  border: none;
}

.social-logo {
  height: 2rem;
  width: 2rem;
}

.copyright {
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .nav {
    position: fixed;
    background-color: white;
    opacity: 0.95;
    z-index: 99;
  }

  .mobile {
    position: fixed;
    top: 2rem;
    left: 2rem;
    display: inline;
    z-index: 100;
  }

  .open {
    display: none;
  }

  .ham-menu {
    float: right;
  }

  .close-btn {
    position: absolute;
    top: 0;
    left: 8rem;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: auto;
    z-index: 100;
  }
}
